@media (min-width: 768px) {
  header {
    background-color: #fff;
    padding: 0;
    width: 100%;
  }

  .desktop-version {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .mobile-version {
    display: none;
  }

  .machigan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;
    gap: 35px;
  }

  .machigan a {
    color: #9f9f9f;
    text-decoration: none;
    font-family: 'lato', sans-serif;
    font-size: 20px;
  }

  .machigan a:hover {
    color: #fb422a;
  }

  .icon {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .dlogo {
    height: 50px;
  }

  .dtext {
    font-size: 20px;
    text-decoration: none;
    font-family: "COCOGOOSE", sans-serif;
    color: #3d3d3d;
  }

  .enrol {
    padding: 15px 20px;
    font-family: 'COCOGOOSE', sans-serif;
    border: 7px solid #fb422a;
    text-decoration: none;
    color: #3d3d3d;
    margin-right: 30px;
    margin-bottom: 12px;
  }
}
