
p {
  margin: 0 !important;
}

/* -----------------HEADER SECTION------------------------ */

header {
  line-height: 30px;
  position: absolute;
  width: 100%;
}

.desktop-version {
  display: none;
}

.menu-cn {
  position: fixed;
  background-color: rgba(112, 124, 118, 0.6);
  backdrop-filter: blur(7px);
  display: none;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  list-style: none;
  width: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
}

.link {
  position: absolute;
  left: 33px;
  top: 19px;
}

.active {
  display: flex;
}

.menu-cn a {
  text-decoration: none;
  color: #fff;
  font-family: 'lato', sans-serif;
  font-size: 40px;
}

.logo {
  height: 70px;
  width: 70px;
  margin: 40px 0;
}

.enroll {
  padding: 20px 20%;
  color: #ff4f37;
  border: 1px solid white;
  font-size: 40px;
}

.ham-menu {
  width: 35px;
  padding-top: 10px;
}


/* -----------------FIRST-PAGE------------------- */

.firstpage {
  width
  padding: 50px 0;
  background: url(/images/dry.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 0 0;
}

.title {
  padding: 60px 0 0 0;
}

.hell {
  color: #fb422a;
  font-family: 'lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.heading-1 {
  color: #fb422a;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.discription {
  background-color: #f8f8f9;
  text-align: left;
  padding: 5px;
  border: 3px solid #fff;
  font-family: 'lato', sans-serif;
  font-size: 15px;
  color: #828282;
}

.date {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #5a5a5a;
  margin: 0;
}

.location {
  color: #5a5a5a;
}


/* ---------------------second-page--------------- */

.secondpage {
  display: flex;
  justify-content: center;
  padding: 40px 15px 14px 15px;
  background-color: #272c32;
}

.container2 {
  box-sizing: border-box;
}

.second-heading {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.underline {
  background-color: #8d3c33;
  height: 3px;
  margin: 0 auto;
  width: 60px;
}

.cards1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 0.9fr 3fr;
  gap: 20px;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #3b4046;
  width: 100%;
}

.items p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

.items img {
  width: 60px;
  padding: 10px;
}

.items h3 {
  color: #e84c39;
}

.pagebtn {
  display: flex;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-size: 10px;
  font-weight: 800;
  background-color: #ff4f37;
  padding: 30px 10px;
  width: 50%;
  color: #fff;
  margin: 10px auto;
  justify-content: center;
}

.pagebtn:hover {
  color: #e84c39;
}

/* -------------------Third-page-------------------------- */

.thirdpage {
  display: flex;
  flex-direction: column;
  padding: 40px 15px 14px 15px;
}

.thirdpage h2 {
  color: #1c1f24;
}

.thirdpage .underline {
  background-color: #ffa295;
  width: 80px;
}

.featured-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}

@media (max-width: 380px) {
  .cv {
    flex-wrap: wrap;
  }
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 40%;
}

.main-img {
  z-index: 10;
  width: 100%;
}

.descriptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

.descriptions h3 {
  color: #2e2e2e;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.descriptions a {
  color: #ff8b7d;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.descriptions p {
  font-family: 'lato', sans-serif;
  font-size: 12px;
}

.underline1 {
  width: 30px;
  height: 3px;
  background-color: #dedede;
  margin: 10px 0;
}



/* ------------------FOOTER------------------ */


.footer {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  padding: 30px;
  
}

.second-heading {
  padding: 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 14px;
}

.dlogo {
  width: 50px;
}

.dtext {
  text-decoration: none;
  color: #272c32;
  font-family: 'late', sans-serif;
  font-size: 30px;
}

.sponsors {
  margin: 0 auto;
}

.sponsors img {
  margin: 12px;
  height: 50px;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #f2f2f2;
    padding: 50px;
    justify-content: center;
}

.rights {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #656567;
    font-family: "lato", sans-serif;
}