@media (min-width: 764px) {
  .thirdpage {
    /* width: 100%; */
    margin: 0 auto;
  }

  .featured-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }

  .cv {
    width: 100%;
  }
}

body {
  width: 100%;
}
