@media(min-width: 764px) {
  .thirdpage {
    /* width: 100%; */
    margin: 0 auto;
  }

  .featured-cards {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: baseline;
    height: 500px;

  }

  .cv {
    width: 40%;
  }

}

body { 
  width: 100%;
}