 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* -----------------HEADER SECTION------------------------ */

header {
  line-height: 30px;
  padding: 5px 20px;
  position: sticky;
  width: 100%;
  background: rgba(248, 248, 249, 0.822);
}

.mobile-version {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.menu-cn {
  position: fixed;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  top: 70px;
  transition: 3s;
  gap: 20px;
}

.logo {
  height: 40px;
  width: 40px;
}

.ham-menu {
  height: 30px;
  width: 30px; 
}


/* -----------------FIRST-PAGE------------------- */

.firstpage {
  padding: 40px 15px;
  background-color: aliceblue;
  background: url(images/dry.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0 0;
}

.title {
  padding: 30px 0;
}

.hell {
  color: #fb422a;
  font-family: 'lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.heading-1 {
  color: #fb422a;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.discription { 
  background-color: #f8f8f9;
  text-align: left;
  padding: 5px;
  border: 3px solid #fff;
  font-family: 'lato', sans-serif;
  font-size: 15px;
  color: #828282;
}

.date {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #5a5a5a;
  margin: 0;
}

.location {
  color: #5a5a5a; 
}


/* -------------------------second-page------------------------------ */

.secondpage {
    display: flex;
    padding: 40px 15px 14px 15px;
    background-color: #272c32;
}

.container2 {
    box-sizing: border-box;
}

.second-heading {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.underline {
  background-color: #8d3c33;
  height: 3px;
  margin: 0 auto;
  width: 60px;
}

.cards1 { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  padding-bottom: 60PX;
}

.items {
 display: grid;
 grid-template-columns: 1fr 1fr 3fr;
 gap: 20px;
 color: #fff;
 height: 100px;
 align-items: center;
 justify-content: center;
 background-color: #3b4046;
 width: 100%;
}

.items p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

.items img {
  height: 60px;
  width: 60px;
  padding: 10px;
}

.items h3 {
  color: #e84c39;
}

.pagebtn {
  display: flex;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-size: 10px;
  font-weight: 800;
  background-color: #ff4f37;
  padding: 30px 10px;
  width: 50%;
  color: #fff;
  margin: 10px auto;
  justify-content: center;
}

.pagebtn:hover {
    /*  */
}


/* -------------------Third-page-------------------------- */


.thirdpage {
  display: flex;
  flex-direction: column;
  padding: 40px 15px 14px 15px;
}

.thirdpage h2 {
  color: #1c1f24;
}

.thirdpage .underline {
  background-color: #ffa295;
  width: 80px;
}

.featured-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cv {
  display: flex;
  flex-direction: row;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
}

.main-img {
  position: absolute;
  top: 10px;
  left: 12px;
  z-index: 10;
  width: 85%;
}

.discriptions {
  display: flex;
  flex-direction: column;
  width: 50%;
}